accelerate==0.25.0
bpython==0.24
datasets==2.15.0
einops==0.7.0
imageio==2.33.0
jsonargparse==4.27.1
matplotlib==3.8.1
Pillow==10.1.0
Pillow==10.1.0
torch==2.1.1
torch_dct==0.1.6
torchvision==0.16.1
tqdm==4.66.1
transformers==4.35.2
vector_quantize_pytorch==1.11.7
webdataset==0.2.79
